chapter:
  url:
  facebook: https://www.facebook.com/ChicagoDemSocialists/
  instagram: https://www.instagram.com/chicagodsa/
  twitter: https://twitter.com/ChicagoCityDSA
  # Override DSA national logos
  header-logo-svg: "images/CDSA-logo-color.svg"
  header-logo-png-fallback: "images/CDSA-logo-color.png" # 360px square recommended
  background-logo-svg: "images/CDSA-logo-reverse.svg"
  background-logo-png-fallback: "images/CDSA-logo-reverse.png" # 1440px square recommended
google_analytics:
teamup: cb7ef970fd2b7b1a85acd5a8a2ef6d7f77477648b0963c29c629391742f24c5a
permalink: pretty
remote_theme: ChicagoDSA/haymarket@v2.3.2 # Append @vX.X.X to specify a version number

# Set default front matter for Markdown files
defaults:
  - scope:
      path: "" # All files
    values:
      lang: en
      layout: default
      image: assets/images/og-image.png

  # Set URLs and language code for collections
  # English   
  - scope:
      path: _homepage/en/index.md
    values:
      permalink: / # Set as index
  - scope:
      path: _pages/en
    values:
      permalink: /:title
  - scope:
      path: _campaigns/en
    values:
      permalink: campaigns/:title
  - scope:
      path: _working-groups/en
    values:
      permalink: working-groups/:title
  # Spanish
  - scope:
      path: _homepage/es/index.md
    values:
      permalink: /es/
      lang: es
  - scope:
      path: _pages/es
    values:
      permalink: es/:title # language-specific folder
      lang: es
  - scope:
      path: _campaigns/es
    values:
      permalink: es/campanas/:title # language-specific folder
      lang: es
  - scope:
      path: _working-groups/es
    values:
      permalink: es/grupos-de-trabajo/:title # language-specific folder
      lang: es

# Manage lists of content with collections
# https://jekyllrb.com/docs/collections/
collections:
  # Homepage translations
  homepage:
    output: true
  # Add single pages in the _pages folder
  pages:
    output: true
  campaigns:
    output: true
  working-groups:
    output: true
