<style>
  /* FIXME - move custom styles to their own file */
  .logo-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
<div class="logo-container">
  {% if include.logos %}
   {% for logo in include.logos %}
      <a href="{{ logo[1].link }}" target="_blank" rel="noopener noreferrer">
        <img style="max-width: 150px; margin: 10px 20px;" src="{{ logo[1].image }}" alt="partner-logo">
      </a>
   {% endfor %}
  {% endif %}
</div>