<style>
  .quote-el {
    position: absolute;
    top: 0;
    bottom: 0;
    height: fit-content;
  }

  .fade-in {
    animation: fadeIn 0.3s;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fade-out {
    animation: fadeOut 0.3s;
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
</style>
<div
  class="outer-quotes-container"
  style="
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(233, 29, 35, 0.2);
    padding: 0 15px 0 15px;
    border-radius: 5px;
  "
>
  <div id="quotes-container" style="position: relative; width: 100%"></div>
</div>
<script>
  const quotes = [
    {
      quote: null,
      author: null,
      source: null,
    },
    {
      quote:
        "People must know where they are going, and why…. The future remains a closed book so long as the consciousness of the people remains imperfect, elementary and cloudy.",
      author: "Frantz Fanon",
      source: "The Wretched of the Earth, 1961",
    },
    {
      quote:
        "The history of education shows that every class which has sought to take power has prepared itself for power by an autonomous education. The first step in emancipating oneself from political and social slavery is that of freeing the mind… The problem of education is the most important class problem.",
      author: "Antonio Gramsci",
      source:
        "cited in Davidson's Antonio Gramsci: Towards an Intellectual Biography, 1977",
    },
    {
      quote:
        "Life and knowledge must be liberated from the sway of capital, from the yoke of the bourgeoisie. The teachers must not confine themselves to narrow pedagogical duties; they must join forces with the entire body of the embattled working people.",
      author: "Vladimir Lenin",
      source:
        "Speech Delivered At The First All-Russia Congress Of Internationalist Teachers, 1918",
    },
  ];

  function createQuotes() {
    quotes.forEach((quoteContent, i) => {
      if (i > 0) {
        const quoteContainer = document.getElementById("quotes-container");
        const quoteEl = document.createElement("div");
        quoteEl.classList.add("quote-el");
        quoteEl.style = "display: none;";

        // create child els, and append to the quote el, then add quote el to the container
        const quoteTextEl = document.createElement("p");
        const quoteTextEmEl = document.createElement("em");
        quoteTextEmEl.textContent = `${quoteContent.quote}`;
        quoteTextEl.appendChild(quoteTextEmEl);
        quoteEl.appendChild(quoteTextEl);

        const authorTextEl = document.createElement("p");
        const authorTextStrongEl = document.createElement("strong");
        const authorTextSourceEl = document.createElement("span");
        authorTextStrongEl.textContent = `- ${quoteContent.author}`;
        authorTextSourceEl.textContent = `, ${quoteContent.source}`;
        authorTextEl.appendChild(authorTextStrongEl);
        authorTextEl.appendChild(authorTextSourceEl);
        quoteEl.appendChild(authorTextEl);

        quoteContainer.appendChild(quoteEl);
      }
    });
  }

  function rotate() {
    const quoteContainer = document.getElementById("quotes-container");
    const quoteEls = Array.from(document.getElementsByClassName("quote-el"));
    quoteEls.forEach((quoteEl, i) => {
      setTimeout(() => {
        quoteEl.classList.remove("fade-out");
        quoteEl.classList.add("fade-in");
        quoteEl.style = "display: block; margin-top: -1em";
        quoteContainer.style.height = `${quoteEl.offsetHeight}px`;
      }, i * 5000);
      setTimeout(() => {
        quoteEl.classList.remove("fade-in");
        quoteEl.classList.add("fade-out");
      }, i * 5000 + 5000);
      setTimeout(() => {
        quoteEl.style = "display: none;";
      }, i * 5000 + 5300);
    });
  }

  // Gets called when page loads and whenever the rotate function is on the last quote
  function initRotateQuotes() {
    createQuotes();
    rotate();
    setInterval(() => {
      rotate();
    }, (quotes.length - 2) * 5000 + 5300);
  }
  // initially starts the rotation on page load
  initRotateQuotes();
</script>
