<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include head-container.html %}
  <style>
    #headline-image-webp {
      max-width: 64rem;
      border: 3px solid #ec1f27;
    }
    #headline-image-container {
      max-width: 100%;
      background-color: #ec1f27;
      display: flex;
      justify-content: center;
    }
    hr {
      box-sizing: content-box;
      height: 10px !important;
      background-color: #3b2462 !important;
    }
  </style>
  <body>
    <div>Special nav for this page</div>
    {% if page.image != site.defaults[0].values.image %} {% include
    header-image.html image=page.image description=page.image-description
    credit=page.image-credit %} {% endif %}
    <main id="main-content" role="main">{{ content }}</main>
    {% include footer-container.html %}
  </body>
</html>
